.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-3);
  width: 100%;
  max-width: 1200px;
}
.between-start {
  justify-content: space-between;
  align-items: start;
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
  width: 100%;
  max-width: 1400px;
}

.span-2 {
  grid-column: span 2;
}
.space-1 {
  gap: 1rem;
}
.space-2 {
  gap: 2rem;
}
.space-3 {
  gap: 3rem;
}
.space-4 {
  gap: 4rem;
}
