@media (max-width: 900px) {
  body {
    padding: var(--space-2) var(--space-3);
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background: var(--color-bg);
    flex-direction: column;
    padding: var(--space-1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  nav ul.active {
    display: flex;
  }
  section {
    min-height: auto;
  }
  .mobile-menu-btn {
    display: block;
  }

  .grid-cols-2,
  .grid-cols-3 {
    grid-template-columns: 1fr;
  }

  #about-section .grid-cols-2 img {
    height: 300px;
  }

  #projects-section ul {
    display: none;
  }

  .mobile-titles {
    display: flex;
    overflow-x: auto;
    padding-bottom: var(--space-1);
  }

  .mobile-titles::-webkit-scrollbar {
    height: 4px;
  }

  .mobile-titles::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 2px;
  }

  .cta-box {
    width: 100%;
  }

  .pill-button {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 700px) {
  .slider-container {
    width: 100vw;
    overflow: hidden;
  }
  .mobile-slider {
    max-width: 300vw;
    /* overflow: hidden; */
    padding: var(--space-2) var(--space-3);
  }
  .mobile-slider .grid-cols-3 {
    display: flex;
    width: 300vw;
  }
  .testimonial-card {
    width: 88vw;
  }
}
