h1,
h2,
h3 {
  font-family: var(--font-family-serif);
  max-width: 1000px;
}

h1,
.section-title {
  font-size: clamp(32px, 20vw, 180px);

  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 0.6;
}

h3 {
  letter-spacing: -0.01em;
  font-size: clamp(32px, 8vw, 100px);
}

p {
  font-size: clamp(16px, 2vw, 20px);
  max-width: 600px;
  line-height: 1.7;
}

.text-sm {
  font-size: var(--base-font-size);
}

.text-center {
  text-align: center;
}

.italic {
  font-weight: bold;
  font-style: oblique;
  font-family: var(--font-family-serif);
  font-size: calc(var(--base-font-size) * 1.618 * 2);
  text-transform: capitalize;
  font-weight: 700;
}
.capitalize + p .italic {
  text-transform: capitalize;
  font-size: calc(var(--base-font-size) * 1.618 * 2.5);
  font-weight: 400;
  line-height: 0.7;
}
/*
.stroked-text {
  -webkit-text-stroke: 1px var(--color-primary); 
  color: var(--color-text); 
}
*/
.sub-title {
  font-size: calc(var(--base-font-size) * 1.618);
  text-transform: uppercase;
}
h4 {
  font-size: calc(var(--base-font-size) * 1.618);
}
